.container-nav {
    display: flex;
    justify-content: center;
    height: 20vh;
    margin: 0;

}
.item-nav{
    width: 15%;
    list-style:none;
}
.header{
    height: 70vh;
    min-height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}